html #wpadminbar {
	display: none;
}
.logo {
	max-width: 150px;
    width: 100%;
}
#webinar_header {
	background-color: #E8E8EC;
}
.header { 
	position: relative;
	margin-top: 0px; 
	padding: 0 0 0 0;
	background-color: #0F1839!important;
}
.header-wrapper {
	width: 100%;
	position: relative;
	padding: 0;
}

.header-content-container {
	margin: 0 auto;
}
.header-content-logo {
	flex:20%;
	padding: 75px 25px 50px;
}
.header-content-menu-mobile {
	position: absolute;
	left: 88vw;
	width: 20px;
	height: 25px;
	top: 90px;
}
.burger-trigger-line {
	display: none;
}
.burger-trigger-holder {
	width: 20px;
}
.header-content-nav {
	flex: 80%;
	background-color: rgba(255,255,255,0.8);
	/* padding-top: 40px; */
}
.navigation li {
	padding-bottom: 22px;
    padding-top: 22px;
    border-bottom: 2px solid rgba(255,255,255,0.12);
    position: relative;
}
.navigation li:after {
	content: "";
	background-image: url(../images/menu-chevron.png);
	height: 19px;
	width: 19px;
	position: absolute;
	display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    left: 88vw;
    cursor: pointer;
}

.header-content-nav .menu-item:before {
	content: normal;
}
.header-content-nav .menu-item a {
	color: #0F1839;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 22px;
	text-align: right;
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
}
.no-touch .navigation > li > a, .no-touch .navigation > li > a, .header-content-nav .menu-item a, .header-content-nav .menu-item a {
	border-bottom: solid;
    border-bottom-width: 4px;
    border-bottom-color: transparent;
    -webkit-backface-visibility: hidden;
}

.no-touch .navigation > li > a:hover, .no-touch .navigation > li > a:active, .header-content-nav .menu-item a:hover, .header-content-nav .menu-item a:active {
	border-bottom: solid;
    border-bottom-width: 4px;
    border-bottom-color: #FF9638;
    -webkit-backface-visibility: hidden;
}

.sub-menu-content .sub-menu-item a:hover {
	border-bottom: none!important;
	-webkit-backface-visibility: hidden;
}	
.sub-menu-item-title {
	letter-spacing: normal;
}
.header-content-nav .menu-item.menu-highlight-color a {
	color: #FF9638;
}
.navigation {
	align-items: normal!important;
}
.header-content-nav .menu-item .sub-menu-item a, .header-content-nav .menu-item .sub-menu-item span {
  color: #3E4965;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: initial;
  padding: 0 0;
  font-weight: 400;

}
.header-content-nav .menu-item .sub-menu-item a{
  	color: #303FAF;
  	font-weight: 600;	
}
.header-content-nav .menu-item .menu-col-content .sub-menu-item a{
  	font-weight: 400;	
  	padding-bottom: 20px;
}
.header-content-nav .menu-item .menu-col-content .sub-menu-item a.menu-text-highlight {	
	font-weight: 600;
}
.navigation .sub-menu.side-by-side {
    /* display: none!important; */
}
#webinar_banner {
	display: none;
}

@media (min-width: 1200px) {

	/*
	.header-content-container {
		max-width: 83.3333%;
	}
	*/
	header.header {
		padding: 35px 0;
		margin-top: -20px;
	}

	.navigation #resources.sub-menu {
		right: 100px;
	}
	.navigation #about.sub-menu {
		right: 0px;
	}
}
.sub-menu-item {
	color: #0F1839;
	font-weight: 600;
	margin: 0 0 0 0;
	padding: 20px;
}

.menu-col-3 {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-wrap: nowrap!important;
}
.menu-col-3 .menu-col-content:nth-child(1) {
   	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.menu-col-3 .menu-col-content:nth-child(2) {
 	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.navigation .sub-menu.side-by-side div {
	margin: 0;
}

@media (min-width: 768px) {

	.navigation .sub-menu {
		transform: translateX(50%);
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		top: 34px;
		right: 0;
		z-index: -1;
  		min-width: 570px!important;
 		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
	}

	.navigation .sub-menu.menu-col-small {
		min-width: 350px!important;
		right: 80px;
	}
	
	.logo-container {
		position: absolute;
		top: 30px;
	}
	html #wpadminbar {
		display: block;
	}
	#webinar_banner {
		display: flex;
	}
	.header { 
		position: absolute; 
		margin-top: 0px;
		background-color: transparent!important;
	}
	.header-content-container {
		display: flex;
		flex-direction: wrap;
		align-items: center;
	  	justify-content: center;
	}
	.navigation .sub-menu.side-by-side {
		/*display: none;*/
	    /*display: flex !important;
	   	flex-direction: row;
	    line-height: 1.3em;
	    width: auto;
	    */
	}
	.navigation .menu-item-has-children:hover .complex-menu, .navigation .menu-item-has-children:hover > .sub-menu,  .navigation .menu-item-has-children:active > .sub-menu {
	    pointer-events: auto;
	    visibility: visible;
	    opacity: 1;
	    padding: 40px;
	    display: block;
	}
	.header-content-nav .menu-item a {
		color: #FFFFFF;
	}
	/* .header-content-menu-mobile { display: none; } */
	.navigation .sub-menu {
		top: 65px;
		right: 0;
		z-index: -1;
		position: absolute;
  		border-radius: 6px;
  		background-color: #E8E8EC!important;
  		background-image: none!important;
  		box-shadow: 0 50px 30px -20px rgba(0,0,0,0.2);
  		-webkit-box-shadow: 0 50px 30px -20px rgba(0,0,0,0.2);
  		-moz-box-shadow: 0 50px 30px -20px rgba(0,0,0,0.2);
	}
	.navigation #resources.sub-menu {
		right: 145px;
	}
	.navigation #contact.sub-menu {
		right: 280px;
	}
	#contact .sub-menu-item {
		padding-bottom: 20px;
	}
	.navigation .menu-text-counter {
		border-radius: 14px;
		background-color: #9FA2AF;
		padding: 5px 10px!important;
		font-size: 12px!important;
		color: #FFF!important;
	}
	.navigation .sub-menu:after {
  		border-radius: 6px;
  		background-color: #E8E8EC!important;
  		background-image: none!important;
  		box-shadow: 0 50px 30px -20px rgba(0,0,0,0.2);
  		-webkit-box-shadow: 0 50px 30px -20px rgba(0,0,0,0.2);
  		-moz-box-shadow: 0 50px 30px -20px rgba(0,0,0,0.2);
	}
	.navigation .sub-menu.last {
		right: 300px;
	}
	.navigation li:after {
		background-image: none;
		display: none;
	}
	.navigation #about.sub-menu {
		right: 215px;
	}
	.sub-menu-content {
		display: flex;
        flex-wrap: wrap;
	}
	.sub-menu-item {
		flex: 50%;
		min-width: initial!important;
		margin: 0 0 0 0!important;
		padding: 0px 20px 0px 0;
	}
	.full-row {
		flex: 100%;
		border-bottom: 2px solid rgba(159,162,175,0.2);
		padding-top: 0;
		padding-bottom: 20px;
	}
	.full-row ~ .sub-menu-item {
		padding-top: 20px;
	}
	.menu-full-column .sub-menu-item-title {
		padding-bottom: 20px;
	}
	.menu-full-column .sub-menu-item-list {
		padding-left: 20px;
	}
	.menu-full-column .sub-menu-item-list a {
		padding-bottom: 22px;
	}
	.navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		position: relative;
		margin: 0 -5px;
	 }
	.navigation li {
		/*
		padding-bottom: 24px;
	    padding-top: 0px;
	    */
	    border-bottom: none;
	    padding-left: 10px;
	    position: relative;
	}
	.burger-trigger {
	    display: none;
	}
	.header-content-logo {
		padding: 24px;
	}
	.header-content-nav {
		background-color: transparent;
	}
	.menu-header-inner {
		justify-content: space-between;
	}
	#overview.sub-menu { padding-right: 0px!important; }
	.sub-menu-item-list {
	  border-left: 2px solid rgba(159,162,175,0.2);
	  padding-left: 40px!important;
	}
}

/* MOBILE ONLY STYLES */
@media (max-width: 768px) {
	header {
		min-height: 135px;
	}
	.sub-menu-item { padding: 15px; }
	.sub-menu-item span { display: block; }
	.menu-col-3 { flex-wrap: wrap!important; }
	header .container {
		padding: 0;
	}
	.menu-mobile-col {
		margin-top: 30px;
	}
	.navigation .menu-mobile-content-collapsed .sub-menu {
		display: block;
	}
	.menu-header-top {
		margin-top: 90px!important;
		padding: 0 20px;
	}
	.header-content-container { 
		display: none;
	}
	.header.is-open, header, .header {
		position: relative;
	}
	.col-12_md-10_lg-11 {
		margin: 0;
		padding: 0;
	}
	.burger-trigger {
		right: -15px;
	}
	.header-wrapper.container {
		padding: 0 0px;
	}
	.header-content-nav {
	
	  transform:translate(9999px);
	  opacity: 0; 

	}
	.menu-mobile-collapsed .header-content-container {
		display: block;
	}
	.menu-mobile-collapsed .burger-trigger-holder {
		width: 20px;
		background-color: rgba(232,232,236,0.05);
		padding: 25px;
		border-radius: 50%;
	}
	.menu-mobile-collapsed.menu-ani-in .header-content-nav {
		transition: opacity 333ms linear;  
		transform:translate(0);
		opacity: 1;
		/* display: block; */
	}
	.navigation .menu-mobile-content-collapsed .sub-menu.side-by-side {
		/* display: block!important; */
	}
	.navigation li.menu-mobile-content-collapsed:after {
	    top: 25px;
		transform: rotate(-180deg);
    	transition: all 0.3s ease-in-out 0s;
	}
}
.logo-container {
	padding: 0;
}
.menu-text-highlight {
	font-weight: 600;
}
