// Colors
$blue-dark:#0F1839;
$blue-medium: #3e4965;
$blue-royal: #303FAF;
$white: #fff;
$off-white: rgb(240, 240, 240);

$gray-light: #f7f7fa;
$gray-medium: #e8e8ec;
$gray-dark: #666;

$orange: #FF9638;

// Fonts
$blue-font-dark: $blue-dark;
$blue-font-light: $blue-medium;
$blue-font-link: $blue-royal;

// Layout
$blue-bg-dark: $blue-dark;
$gray-bg-light: $gray-light;
$gray-bg-medium: $gray-medium;

$gray-border-white: $off-white;
$gray-border-light: rgba(232, 232, 236, 0.2);
$gray-border-medium: $gray-medium;
$orange-border: $orange;

// Resource Cards
$articles: #00796B;
$product-sheet: #E78833;
$report: #0097A7;
$video: #512DA8;
$webinar: #1976D2;
$whitepaper: #3E4965;